<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ace0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{2048,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,400}}</string>
                <key>sourceSize</key>
                <string>{2048,400}</string>
            </dict>
            <key>ace1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{2048,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,400}}</string>
                <key>sourceSize</key>
                <string>{2048,400}</string>
            </dict>
            <key>ace2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{2048,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,400}}</string>
                <key>sourceSize</key>
                <string>{2048,400}</string>
            </dict>
            <key>ace3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,400}}</string>
                <key>sourceSize</key>
                <string>{2048,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ace-ipadhd.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe700de4f12ce1b5e02e8672a332afa3$</string>
            <key>textureFileName</key>
            <string>ace-ipadhd.png</string>
        </dict>
    </dict>
</plist>
