<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cheera0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,406},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,608},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,810},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,608},{150,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,810},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,204},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,406},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,204},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheera9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cheera-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63d4ba95f1598ceddec3fd91f969d9d3$</string>
            <key>textureFileName</key>
            <string>cheera-ipadhd.png</string>
        </dict>
    </dict>
</plist>
