<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cheerb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,852},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,650},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,650},{150,200}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,488},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,326},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,164},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>cheerb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cheerb-ipad.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220a543595b03f30f8dd5d27c20a5b4c$</string>
            <key>textureFileName</key>
            <string>cheerb-ipad.png</string>
        </dict>
    </dict>
</plist>
