<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>right0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{125,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,110}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>right0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,114},{125,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,100}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>right0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,114},{125,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,100}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>right0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{125,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,110}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>right0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{125,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,110}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>right0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{125,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,100}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>right0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,114},{125,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,100}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>right0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,216},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>right0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,216},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>right0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>right0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,216},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>right0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,472},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,390},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,390},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,390},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,308},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,308},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>right0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,308},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keeperright.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3c429df9e16362dbec86a78b9c4ce0a$</string>
            <key>textureFileName</key>
            <string>keeperright.png</string>
        </dict>
    </dict>
</plist>
