<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>left0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,130}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>left0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{125,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,110}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>left0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{125,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,110}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>left0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,232},{125,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,100}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>left0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,129},{125,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,101}}</string>
                <key>sourceSize</key>
                <string>{125,101}</string>
            </dict>
            <key>left0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,334},{125,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,95}</string>
            </dict>
            <key>left0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>left0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>left0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>left0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,841},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,759},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,677},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,595},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,513},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,431},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>left0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,923},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keeperleft.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb43f1c4e1f2d74fda86dcbfd239f424$</string>
            <key>textureFileName</key>
            <string>keeperleft.png</string>
        </dict>
    </dict>
</plist>
