<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kick0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,616},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,626},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,616},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,616},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,534},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,708},{98,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{98,124}</string>
            </dict>
            <key>kick0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{99,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,125}}</string>
                <key>sourceSize</key>
                <string>{99,125}</string>
            </dict>
            <key>kick0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,544},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,534},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,452},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,462},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,452},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,370},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,104},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>kick0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,104},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>kick0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,104},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>kick0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>kick0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>kick0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>kick0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>kick0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,125}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>kick0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,206},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>kick0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,380},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,370},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,288},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,298},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,288},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,206},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,206},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>kick0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,698},{70,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,125}}</string>
                <key>sourceSize</key>
                <string>{70,125}</string>
            </dict>
            <key>kick0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,698},{70,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,125}}</string>
                <key>sourceSize</key>
                <string>{70,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pkick.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1832c2221f18016e039a565b2087bc$</string>
            <key>textureFileName</key>
            <string>pkick.png</string>
        </dict>
    </dict>
</plist>
