<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kick0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1136},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1136},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1136},{158,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,249}}</string>
                <key>sourceSize</key>
                <string>{158,249}</string>
            </dict>
            <key>kick0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,974},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,974},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,974},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,812},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,812},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,812},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,650},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,650},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,650},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,488},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,488},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,488},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,326},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,326},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,326},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,164},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,164},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,164},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
            <key>kick0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,250}}</string>
                <key>sourceSize</key>
                <string>{160,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pkick-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23cb7db21b510467bb82590cfbe48a65$</string>
            <key>textureFileName</key>
            <string>pkick-ipadhd.png</string>
        </dict>
    </dict>
</plist>
